<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-15 col-md-0 footer-newsletter">
            <h4>Faça parte da nossa Newsletter!</h4>
            <p>Deixe seu e-mail e enviaremos estudos de caso adicionais e dicas de uso do OCAU!</p>
            
            <form name="'email" action="../config/add_email.php" method="post">
              <input type="email" name="email">
              <input type="submit" onclick="funcao1()" value="Enviar">
            </form>             
          <div class="col-lg-0 pt-0 pt-lg-5">
            <h3> Redes Sociais</h3>    
            <div class="social-links text-center text-md-right pt-3 pt-md-0"> 
              <a href="https://www.facebook.com/ocanvasdeusabilidade/" target="_" ><img src="/ocau_V2/assets/img/facebook.png"></img></a>
              <a href="https://www.instagram.com/ocanvasdeusabilidade/" target="_" ><img src="/ocau_V2/assets/img/instagram.png"></img></a>              
              <a href="https://api.whatsapp.com/send?phone=5583991366211&text=Ol%C3%A1%2C%20%20Acabei%20de%20acessa%20seu%20site." target="_" ><img src="/ocau_V2/assets/img/whatsapp.png"></img></a>              
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </footer>