<main class="container-form">
    <div class="bg-light p-5 rounded" id="form_admin">
    <h1>Area de administração do site</h1>
        <form action="/ocau_V3/config/validar_login.php" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email </label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              <div id="emailHelp" class="form-text">Digite seu email para logar.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" >
            </div>
                <button type="submit" class="btn btn-outline-primary">Entrar</button>
        </form>
 </main>