<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="../index.html" class="logo"><img src="../assets/img/logoprojeto.jpg" alt="" class="img-fluid">
      <label for="logo">ser centered design canvas</label>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="index.php#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#footer">Contato</a></li>
          <li class="dropdown"><a href="#"><span>Estudo de Casos</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/ocau_V3/assets/download/autopass.pdf " class="btn" id="top-nav-cta" target="_blank" onclick="ga('send', 'event', 'template', 'download');">Autopass</a></li>
              <li><a href="/ocau_V3/assets/download/linkedin-caso-de-exito-olx.pdf " class="btn" id="top-nav-cta" target="_blank" onclick="ga('send', 'event', 'template', 'download');">OLX</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="/ocau_V3/assets/download/Manual OCAU.pdf" target="_blank">Download manual</a></li>
          <li><a href="../config/logout.php" class="nav-link scrollto" >Deslogar da Pagina Admin</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>