<main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row content">
      <div class="col-lg-15 pt-6 pt-lg-0">
        <h2>O que é o Canvas de Usabilidade?</h2>
      </div>
      <h5>
        <p>
          Usabilidade é um atributo de qualidade de software relacionado à facilidade de se utilizá-lo e esse atributo é relevante para vários tipos de sistemas.
          <p></p>
          Para verificar se o produto ou serviço pretendido atende aos atributos de usabilidade exigidos em relação aos usuários esperados, é feita uma avaliação de usabilidade.
          <p></p>
          A avaliação de usabilidade é um nome genérico para um grupo de métodos baseados na avaliação e inspeção ou exame relacionado com aspectos de usabilidade da interface com o usuário. 
          Existem várias alternativas para se realizar a avaliação da usabilidade de uma solução. OCAU (O canvas de Avaliação de Usabilidade)
          é um artefato desenvolvido com a intenção de facilitar o planejamento da avaliação de usabilidade possuindo 8 dimensões:
        </p>
        </h5>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
  <div class="container">

    <div class="row">

      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box">
          <h4>Defina a Solução</h4>
          <p>O que sera avaliado para a solução? </p>
          <span>01</span>
        </div>
      </div>

      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box">
          <h4>Defina os Requisitos</h4>
          <p>Qual requisito ou funcionalidade será avaliado?</p>
          <span>02</span>
        </div>
      </div>

      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box">
          <h4> Defina os Usuários</h4>
          <p>Quem são os participantes da avaliação?
          </p>
          <span>03</span>
        </div>
      </div>
  
      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box">
          <h4> Defina a(s) Tarefas</h4>
          <p>Quais tarefas os participantes irão realizar?
          </p>
          <span>04</span>
        </div>
      </div>
      <p> </p>
      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box">
          <h4> Defina o Contexto</h4>
          <p>Quais contextos estão inseridos?
          </p>
          <span>05</span>
        </div>
      </div>

      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box">
          <h4> Defina as Alternativas</h4>
          <p>Quais alternativas serão utilizadas?
          </p>
          <span>06</span>
        </div>
      </div>
      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box">
          <h4> Defina os Critérios</h4>
          <p>Quais são os critérios utilizados ?
          </p>
          <span>07</span>
        </div>
      </div>

      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box">
          <h4> Defina as Métricas</h4>
          <p>Quais são as métricas utilizados?
          </p>
          <span>08</span>
        </div>
      </div>

    </div>

  </div>

  <p></p>
</main>